/* .accordion input[type="radio"] {
    display: none;
} */

/* .accordion .content {
    height: 0px;
    padding: 0px;
    background-color: #fafafa;
    border-top: 1px solid #ccc;
    overflow: hidden;
    transition: all 0.3s ease;
} */

.accordion input[type="radio"]:checked+.accordion-header+.content {
    height: auto;
    padding: 15px;
}

.accordion-icon {
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
}

.accordion input[type="radio"]:checked+.accordion-header .accordion-icon {
    transform: rotate(180deg);
}

/* .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-weight: bold;
    text-align: right;
} */

.accordion-header .accordion-title {
    font-size: 14px;
}

/* flip card */
.flip-card {
    width: 300px;
    height: fit-content;
    perspective: 1000px;
}

.card-inner {
    width: 100%;
    height: fit-content;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
}

.flip-card:hover .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: fit-content;
    backface-visibility: hidden;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 0.5rem;
}

.card-front {
    background-color: #303b7c;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #303b7c;
    border-radius: 10px;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    font-size: 1.1rem;
    transform: rotateY(0deg);
}

.card-back {
    background-color: #925c81;
    color: #fff;
    display: flex;
    align-items: center;
    border: 10px solid #925c81;
    border-radius: 10px;
    justify-content: center;
    font-size: 0.8rem;
    text-align: center;
    transform: rotateY(180deg);
}